{% extends "base.html" %}

{% block title %}Create task{% endblock %}

{% block main_div_content %}

<h1>Create a new task</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Create</button>
</form>

{% endblock %}
