{% extends "base.html" %}

{% block title %} tasks {% endblock %}

{% block main_div_content %}

<h1>{{task_detail.name}}</h1>
<p>{{task_detail.description}}</p>

<h2>Tasks</h2>
<p>
    <a href="{% url 'create_task' %}">Create a new task</a>
</p>
{% if task_detail.tasks.all|length == 0 %}

<p>This project has no tasks</p>

{% else %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </tr>
    </thead>
    <tbody>
        {% for p in task_detail.tasks.all %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.assignee}}</td>
            <td>{{p.start_date}}</td>
            <td>{{p.due_date}}</td>
            <td>{{p.is_completed|yesno}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
