{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block main_div_content %}

<h1>My Projects</h1>
<div>
    <p>
        <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
</div>

{% if all_prjcs|length == 0 %}

<p>You are not assigned to any projects</p>

{% else %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of tasks</th>
        </tr>
    </thead>
    <tbody>
        {% for i in all_prjcs %}
        <tr>
            <td><a href="{% url 'show_project' i.id %}">{{i.name}}</a></td>
            <td>{{i.tasks.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
