{% extends "base.html" %}

{% block title %}My tasks{% endblock %}

{% block main_div_content %}

<h1>My Tasks</h1>

{% if my_prjcs|length == 0 %}

<p>You have no tasks</p>

{% else %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </tr>
    </thead>
    <tbody>
        {% for my in my_prjcs %}
        <tr>
            <td>{{my.name}}</td>
            <td>{{my.start_date}}</td>
            <td>{{my.due_date}}</td>
            <td>{{my.is_completed|yesno}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}
